@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: $bg-color;
  font-family: $quicksand;
  font-size: 16px;
}

.preloader-disabled {
  page-loader {
    display: none;
  }
}

img {
  width: 100%;
  height: auto;
}
.background-video-wrp{
  position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -22;
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
  &::before{
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: 101%;
    height: 100vh;
    background-color: rgba(#151515, 0.95);
  }
}
#home {
  position: relative;
}
#logo{
  opacity: 0;
}
h3{
  margin: 0;
}
.para {
  background: radial-gradient(200px at 50% 50%, rgba(0, 255, 255, 0.7), #0072CE, #1f1f1f);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  cursor: default;
  font-size: 1.6rem;
  line-height: 1.47em;
}

